.title{
  font-family:Roboto;
}
body{
margin: 0;
}
.wrapper{
  margin:auto;
  width:80%;
}
.logo,.menu{
  display:inline-block;
  }
.header{
  margin: 10px 7px 196px 4px;
  display:flex;
  justify-content: space-between;
}
.menu{
  display:flex;
  align-items: center;
}
.menu__item{
  position: relative;
  margin-right: 29px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
}
.menu__item-active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: opacity.5s,width.5s;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:hover::after,.menu__item::after{
  opacity:1;
  width: 100%;
}
.menu__item:last-child{
  white-space: nowrap;
  margin-right: 0;
}
.logo{
  position: relative;
  padding: 41px 42px 36px;
  width: 190 px;
  height: 35 px;
  font:bold 25px/32px pt_serif, arial,helvetica, sans-serif;
}
.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
.main{
  padding: 0 63% 11% 3px;
  background: top right no-repeat url('img/group.svg');
  background-size: 37vw 28vw;
  background-position-x: 96%;
}
.main__title{
padding-top: 16px;
margin: 0 0 35px 0;
font: bold 68px/86px pt_serif, arial, helvetica, sans-serif;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
.main__subtitle{
  margin: 0 68px 38px 0;
  font: 23px/27px Roboto,arial,helvetica,sans-serif;
}
.main__button{
  display: inline-block;
  font: 18px/19px Roboto,arial,helvetica,sans-serif;
  color:#fff;
  background: #0056EC;
  padding: 20px 31px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity.5s;
}
.main__button:hover{
  opacity: .5;
  }
.burger-menu{
  display: none;
  }

@media (max-width:1366px){
  .header {
    width: 62%;
    margin:0 36px 0  82px;

  }
  .menu {
    width: 70px;
    height: 120px;
  }
  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
  .menu__item:last-child{
    white-space: nowrap;
  }
  .main {
    padding: 33px 53% 12% 83px;
    background-size: 36vw 26vw;
    background-position: 514px;
    text-align: left;
  }
  .main__title {
      font: bold 52px/64px pt_serif, arial, helvetica, sans-serif;
      margin: 0 0 41px 0;
      padding-top: 60px;
  }
  .main__subtitle {
      margin-right: 60px;
      font:500 18px/23px Roboto,arial,helvetica,sans-serif;
  }
  .main__button {
      padding: 18px 21px;
      font: 500 14px/10px Roboto,arial,helvetica,sans-serif;
  }
}
@media (max-width:1024px){
.wrapper{
  width: 95%;
}
  .header {
    margin-left: 20px;
    width: 70%;
  }
  .logo{
    padding: 6% 6%;
  }
  .menu {
    width: 63px;
  }
  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    margin-right: 25px;
  }
  .menu__item:last-child{
    white-space: nowrap;
  }
  .main {
    padding: 0 52% 14% 2%;
    background-size: 48vw 36vw;
    background-position: 94%;
    text-align: left;
  }
  .main__title {
      font: bold 51px/64px pt_serif, arial, helvetica, sans-serif;
      padding-top: 21%;
  }
  .main__subtitle {
      margin-right: 8%;
      font:500 19px/24px Roboto,arial,helvetica,sans-serif;
  }
}
@media (max-width:768px) {
  .logo{
    padding: 26px 181px 0;
  }
  .main {
    background-position: 100%;
    }
  .main__title {
      font: bold 43px/51px pt_serif, arial, helvetica, sans-serif;
      }
  }
@media (max-width:375px){
  .menu,.logo-text{
    display:none;
  }
  .burger-menu{
    display: contents;
  }
  .wrapper{
    width: 100%;
  }
  .header{
    margin-left: 24px;
  }
  .main {
    padding: 3px 6% 12% 23px;
    margin-top: 8%;
    background-size: 71vw 52vw;
    background-position: top center;
    }
    .logo{
      padding: 83px 167px 0;
    }
    .main__title {
      font: bold 31px/40px pt_serif, arial, helvetica, sans-serif;
      padding: 72% 0 0 3%;
      margin: 0 0 32px;
      text-align: center;
    }
  .main__subtitle {
      margin: 8% 9%;
      padding: 0 4%;
      font:500 16px/18px Roboto,arial,helvetica,sans-serif;
      text-align: center;
    }
  .main__button {
      padding: 13px 20px;
      margin: 0 0 0 60px;
      font: 500 14px/20px Roboto,arial,helvetica,sans-serif;
      text-align: center;
      }
      .menu__btn{
        display: flex;
        align-items: center;
        position: fixed;
        top: 34px;
        left: 87%;
        width: 25px;
        height: 22px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after{
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before{
        content: '';
        top: -8px;
      }
      .menu__btn > span::after{
        content: '';
        top: 8px;
      }
      .menu__box{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
      }
.menu__item-1{
  display: block;
  padding: 26px 0;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  }
.menu__item-1:hover{
  background-color: #CFD8DC;
  }
#menu__toggle{
  opacity: 0;
  }
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  }
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  }
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  }
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  }
  /*@keyframes logo {
  25% {
     top:10px;
     left:0;
  }

  50% {
     top:10px;
     left:20px;
  }

  75% {
     top:0;
     left:20px;
  }
}

div {
  animation: logo 8s infinite cubic-bezier(.5, 1.5, .03, .4);
  top: 0;
  left: 0;
 }
}
