.title{
  font-family:Roboto;
}
.body{
  margin: 0;
}
.wrapper{
  margin:auto;
  width:80%;
  border:dashed 1px red;
}
.logo,.menu{
  display:inline-block;
  border:dashed 1px red;
}
.header{
  margin: auto;
  display:flex;
  justify-content: space-between;
}
.section{
  margin: auto;
  border: dashed 1px red;
}
.menu{
  display:flex;
  align-items: center;
}
.menu__item{
  padding: 0 13px;
  border: dashed 1px red;
}
.menu__item:last-child{
  padding-right: 0;
}
.logo{
  position: relative;
  margin-right: 63%;
  padding: 40px 0;
  width: 190 px;
  height: 35 px;
  padding-left: 44px;
  font:bold 24px/31px pt_serif, arial,helvetica, sans-serif;
}
.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border: dashed 1px red;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
