.title{
  font-family:Roboto;
}
body{
margin: 0;
}
.wrapper{
  margin:auto;
  width:80%;
}
.logo,.menu{
  display:inline-block;
  }
.header{
  margin-bottom: 184px;
  display:flex;
  justify-content: space-between;
}
.menu{
  display:flex;
  align-items: center;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
}
.menu__item-active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: opacity.5s,width.5s;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:hover::after,.menu__item::after{
  opacity:1;
  width: 100%;
}
.menu__item:last-child{
  margin-right: 0;
}
.logo{
  position: relative;
  margin-right: 62%;
  padding: 41px 0;
  width: 190 px;
  height: 35 px;
  padding-left: 45px;
  font:bold 24px/31px pt_serif, arial,helvetica, sans-serif;
}
.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
.main{
  padding: 0 67% 100% 0;
  background: top right no-repeat url('img/group.svg');
  background-size: 40vw 29vw; 
}
.main__title{
padding-top: 24px;
margin: 0 0 35px 0;
font: bold 65px/86px pt_serif, arial, helvetica, sans-serif;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
.main__subtitle{
  margin: 0 68px 38px 0;
  font: 23px/28px Roboto,arial,helvetica,sans-serif;
}
.main__button{
  display: inline-block;
  font: 18px/19px Roboto,arial,helvetica,sans-serif;
  color:#fff;
  background: #0056EC;
  padding: 20px 31px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity.5s;
}
.main__button:hover{
  opacity: .5;
}
